<div class="column is-half"> 
  <%= post_input %>
<% @posts.each do |post| %>
    <div class="box">
      <div class="media-content">
        <div class="content">
          <%= show_author(post) %>
          <p><%= post.post %></p>
        </div>
      </div>
    </div>
<% end %>
</div>
