<p class="control" style="margin-right:3px">
  <%= link_to 'Sign In', new_user_session_path, class: "button is-primary" %>
</p>
<p class="control">
  <%= link_to 'Sign Up', new_user_registration_path, class: "button is-primary" %>
</p>